.boxAbout {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.boxAbout h1 {
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

#About {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#About.in-view {
    opacity: 1;
    transform: translateY(0);
}

.about {
    width: 75%;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #ffffff0f;
    padding: 20px;
    gap: 50px;
}




.aboutImg {
    -webkit-animation: _morph_ocwkb_1 8s ease-in-out infinite;
    animation: _morph_ocwkb_1 8s ease-in-out infinite;
    background-image: url(/portafolio/src/imagenes/about/foto.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #6271789c;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 20rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 17rem;
    filter: drop-shadow(-20px 20px 5px #1f3d5147);
    margin: 0 15px 0 50px;

}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}



.aboutImg img {
    border-radius: 15px;
    width: 410px;
    height: 350px;
    filter: opacity(0.8)
}

.aboutInf {
    font-size: 1.1rem;
    font-family: roboto;
    text-indent: 50px;
    line-height: 2;
    width: 700px;
    height: 400px;

}

.aboutInf p {
    color: #cfcfcf;
    font-size: 1.1rem;
    font-family: roboto;
    margin: 20px 0;
    text-indent: 50px;
    padding: 10px;
    line-height: 1.8;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .6s;

}

.bioCorta {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .6s;
}

.bioCompleta {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .6s;
}

.masInfo {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.masInfo:hover {
    color: #2980b9;
}


.aboutInf h1 {
    font-size: 2.5rem;
    color: #0099ff;
    font-weight: 100;
}


.bios {
    border-radius: 10px;
    height: 300px;
    fill-opacity: inherit;
    font-size: 20px;
    line-height: 122%;
    overflow-y: auto;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;

}

.bios::-webkit-scrollbar {
    width: 8px;

}

.bios::-webkit-scrollbar-thumb {
    background-color: rgba(18, 114, 197, 0.3);
    border-radius: 10px;
}

@media screen and (max-width:  1185px) {
    .about {
        width: 100%;
    }

    .aboutImg {
        display: none;
    }

    .aboutInf {
        font-size: 16px;
    }
}

@media screen and (max-width: 1810px) {
    .aboutInf {

        >p {
            width: 80%;
            margin: 2px;
        }

        >h1 {
            margin-bottom: 0;
        }
    }

    .bios p {
        margin: 2px;
    }

    .about {
        flex-wrap: nowrap;
    }

}

@media screen and (max-width: 840px) {
    .aboutInf {
        font-size: 11px;
    }


    .bios p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 620px) {
    .aboutInf h1 {
        margin: 0;
    }

    .aboutInf p {
        margin: 0;
    }

    .aboutInf h1 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 540px) {
    .aboutInf h1 {
        font-size: 1.3rem;
    }

    .boxAbout {
        padding: 10px;
    }

    .masInfo {
        font-size: 0.9rem;
    }

    .aboutInf h1 {
        text-indent: 0;
    }

    .masInfo {
        text-indent: 0;
    }

    .boxAbout {
        align-items: center;

        >h1 {
            font-size: 1.8rem;
            margin-bottom: 5px;
        }
    }
}