.secFormulario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.formulario {
    margin-top: 10%;
    color: rgb(148 163 184);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    width: 75%;
    height: 500px;
    border-radius: 15px;
    border: 1px solid #ffffff0f;
}

.formulario h1 {
    padding: 15px 0;
    font-size: 3rem;
    color: #39a5ecc4;

}

.formularioInf p {
    line-height: 1.6;
    width: 352px;
    font-size: 1.2rem;

}

.formularioInf {
    width: 50%;
    height: 40%;
    padding: 20px;
    border-right: 1px solid #14a5df33;
}

.formularioRe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.formularioRe form {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.formularioRe form input {
    background-color: #0d1e2e;
    width: 100%;
    height: 40px;
    border: 1px solid #2e83bb;
    border-radius: 15px;
    transition: border-color 0.3s ease-in-out;
    outline: 2px solid transparent;
    outline-offset: 2px;
    margin: 3px 0 25px 0;
    color: #cfcfcf;
    font-size: 1.4rem;
    padding: 0 10px;


}

.formularioRe form label {
    margin-left: 10px;
}

.formularioRe form input:focus,
.formularioRe form textarea:focus {
    border-color: rgb(0, 238, 255);
}

.formularioRe form textarea {
    background-color: #0d1e2e;
    width: 100%;
    height: 150px;
    border: 1px solid #2e83bb;
    border-radius: 15px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    margin: 3px 0 25px 0;
    color: #cfcfcf;
    font-size: 1.4rem;
    padding: 10px;
}

.formularioRe form input[type="submit"] {
    background-color: #3c5863;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #00000000;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.formularioRe form input[type="submit"]:hover {
    background-color: #37515a;
}

.formularioRe form input[type="submit"]:active {
    background-color: #24363b;
}



@media screen and (max-width: 1185px) {
    .formularioInf h1 {
        padding: 5px 3px 10px;
        font-size: 1.5rem;

    }

    .formulario p {
        font-size: 1.1rem;
        width: 80%;
    }

    .formulario {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0;
    }

    .formularioInf {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formularioInf h1 {
        font-size: 1.5rem;

    }

    .formularioRe {
        width: 100%;
        margin: 0;
    }

    .formulario form {
        width: 80%;
    }

    .formularioRe form input {
        width: 100%;
    }

    .formularioRe form textarea {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .formulario {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .formularioInf {
        width: 100%;
    }

    .formularioRe {
        width: 100%;
    }

    .formularioRe form {
        width: 80%;
    }
}