.footer{
    /* background-color: #c79797;  */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        /* margin-top: 100px; */
        width: 100%;
        height: 160px;
        background-color: #060a11;
        border-top: solid 1px #1e1842;
}

.footerInf {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerInf span{
    transform: translate(1px, -4px);
} 
.footerInf span:nth-child(3){
  font-size: 1.5rem;
  transform: translate(-6px, -4px);
}
.footer img {
    width: 35px;
    height: 35px;
}

.listaRedes ul a{
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
    color: aliceblue;
}
.listaRedes ul a img{
    width: 40px;
    height: 40px;
}
.listaRedes ul a:hover{
    color: rgb(64, 159, 241);
}

.listaRedes ul{ 
    font-size: 1.1rem;
    gap: 20px;
    display: flex;
}