.formation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.formation h2 {
    font-size: 1.8rem;
    font-weight: 100;
    padding: 10px;
    margin: 5px;
    color: #3498db;

}

.formation>h1 {
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.formation h3 {
    margin-bottom: 25px;
}

.informationbox {
    border: 1px solid #17152f;
    width: 75%;
    padding: 30px;
    background: var(--background-color);
    display: flex;
    gap: 60px;
    border-radius: 15px;
    justify-content: center;
    align-items: flex-start;

}

.informationbox img {
    border-radius: 15px;
}

.infoUni {
    width: 580px;
    padding: 25px 6px;
}


.formationItem {

    p {
        color: #cfcfcf;
        font-size: 1.1rem;
        font-family: roboto;
        margin: 5px 0 0;
        padding: 5px;
        line-height: 1.8;
        display: flex;

    }

    h1 {
        margin-top: 20px;
    }
}

.informationbox img {
    width: 440px;
    height: 350px;
    margin: 15px 0 0;
    /* filter: opacity(0.9);  */
}

.formationItem {
    display: flex;
    width: 400px;
    height: 450px;
    flex-direction: column;
    gap: 5px;
    background-color: #13102b;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.formationItem img {
    width: 200px;
    height: 200px;
}

.formationItem:nth-child(2) img {
    width: 350px;
    height: 230px;
}

.informationbox a {
    padding-left: 15PX;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;

}

.informationbox a:hover {
    color: #2980b9;

}


@media screen and (max-width: 1185px) {
    .informationbox {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        /* width: 80%; */


    }

    .formationItem {
        width: 80%;
        padding-bottom: 15px;
    }


    .formationItem img {
        width: 50%;
        height: 30%;
    }

    .formationItem:nth-child(2) img {
        width: 70%;
        height: 40%;
    }


    .infoUni {
        overflow-y: auto;
        height: 300px;
    }

}

@media screen and (max-width: 700px) {
    .formationItem {
        height: 100%;
        width: 100%;
        padding: 10px;
    }

}

@media screen and (max-width: 650px) {
    .informationbox {
        width: 95%;
    }

    .formation {
        align-items: center;

        >h1 {
            font-size: 1.8rem;
            margin-bottom: 5px;
        }
    }

}