.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
    gap: 20%;
}

.fotop {

    background-image: url(/src/imagenes/imgIni.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 20rem;
    margin: 5px 5px;
}


.content {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.informacion {
    color: #fff;
    max-width: 650px;

    >h1 {
        font-size: 3.5rem;
        color: var(--color-textprimario);
        text-wrap: balance;
    }

    >h2 {
        font-size: 2rem;
        color: var(--color-textdetalles);
    }

    >h3 {
        font-size: 1.2rem;
        font-weight: 100;
        margin-bottom: 20px;
    }

    >p {
        color: var(--color-text);
        font-size: 1.3rem;
        margin: 15px 0 30px;
        padding: 10px 0;
        width: 70%;

        >span {
            color: #40d7e1;
        }

        >span:last-child {
            /* color: #00e2f1; */
            color: #ec8f1e;
        }
    }
}

.social {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;

}

.slide-in-blurred-left {
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


.stack ul li {
    -webkit-animation: slide-in-blurred-left .3s ease-in-out linear infinite;
    animation: slide-in-blurred-left .3s linear;
    display: flex;
    gap: 10px;
    filter: grayscale(60%);
    transition: 0.2s ease-in-out linear infinite;


}

.stack {
    display: flex;
    width: 100%;
    height: 150px;
    gap: 104px;
    justify-content: space-evenly;
    align-items: center;

    >h3 {
        color: #40d6e0;
        font-size: 1.3rem;
        padding-right: 25px;
        border-right: 1px solid #ff665e;
    }

}

.stack ul {
    display: flex;
    gap: 15px;
}

.stack ul li img {
    background-color: #8981814d;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #777489;
}



@media screen and (max-width: 1185px) {
    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .content {
        padding-top: 150px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column-reverse;
        align-content: center;
        margin-bottom: 15px;
    }

    .stack {
        margin-top: 35px;
        gap: 35px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 980px) {

    .fotop {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .stack {
        margin: 100px;
    }

    .stack ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 430px) {
    .informacion {


        >h1 {
            font-size: 1.5rem;
            margin-left: 15px;
        }
    }

    .social {
        display: flex;
        margin-left: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: flex-end;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .informacion {
        margin: 40px 20px 10px 20px;
    }

    .informacion h1 {
        font-size: 2rem;
    }

    .informacion p {
        font-size: 1rem;
    }

    .stack h3 {
        border-right: none;
        border-bottom: 1px solid #ff665e;
    }
}

.Btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
    backdrop-filter: blur(10px);
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(80, 36, 142, 0.349);
    z-index: 2;
}

.bg {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #3e2d5100;
    z-index: 0;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;

}

.Btn:hover .bg {
    transform-origin: bottom;
    background: #2f0c57ef;
    box-shadow: 0px 0px 9px 2px rgba(173, 66, 245, 0.055);
}

.Btn:hover .svgContainer {
    background-color: rgba(173, 66, 245, 0.055);
    backdrop-filter: blur(10px);
    transform: translateY(-12px);
}

.svgContainerw {
    border: 1px solid rgba(36, 142, 41, 0.349);
}

.Btn:hover .bgw {
    background: #036303;
    box-shadow: 0px 0px 9px 2px rgb(6 115 30 / 61%);
}

.Btn:hover .svgContainerw {
    background-color: rgba(66, 245, 96, 0.055);
}

.svgContainerl {
    border: 1px solid rgba(36, 130, 142, 0.349);
}

.Btn:hover .bgl {
    background: #00e2f1;
    box-shadow: 0px 0px 9px 2px rgba(6, 108, 115, 0.61);
}

.Btn:hover .svgContainerl {
    background-color: rgba(66, 209, 245, 0.055);
}

.btnBoox {
    text-decoration: none;
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    height: 47px;
    padding: 10px;
    background-size: 800% 400%;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    transform: perspective(400px) rotateY(10deg) rotateX(20deg);

    >span {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}

.btnBoox:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

.btnBoox:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}