.boxProyectos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0 100px 0;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;

}

.boxProyectos>h1 {
  font-weight: 200;
  font-size: 2.5rem;
  margin-bottom: 30px;
  background: linear-gradient(to left, #1f1b3d13, #1b1833);
  border-radius: 10px;
  padding-left: 10px;
}

.listaProjectos {
  z-index: 1;
  max-width: 75%;
  padding: 0.5% 0.5%;
  background: var(--background-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  border-radius: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  border: 1px solid #17152f;

}

.cardsList {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}



.cardsList .cards:nth-child(1) img {
  width: 48%;
  border-radius: 10px;
}

.cardsList .cards:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: row;

}

.carInf {
  padding: 5px 20px;

  >h1 {
    margin: 5px 0;
    /* color: #ffa941; */
  }

  h3 {

    color: #d6c49a;
    margin: 10px 0;
  }

  h4 {
    color: #91bdc5af;
    margin: 5px 0;
  }

  p {
    color: rgb(148 163 184);
  }
}

.cards:hover .carInf {
  >h1 {
    color: #57d9d3;
  }
}


.cards {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.cards img {
  border-radius: 10px;
}

.cards:hover {
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 10px;

}


.cardsList .cards:nth-child(2) p {
  width: 100%;

}

.cardsList .cards:nth-child(3) p {
  width: 100%;

}

.cards img {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .informationbox {
    max-width: 10%;
  }

}

@media screen and (max-width: 1185px) {
  .listaProjectos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

  }

  .informationbox {
    max-width: 80%;
  }

  .listaProjectos {
    width: 100%;
  }

  .boxProyectos {
    height: 100%;
  }
}

@media screen and (max-width: 1850px) {
  .cardsList {
    /* display: flex;
    flex-direction: row; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 595px) {
  .listaProjectos {
    max-width: 95%;
  }

  .boxCards {
    width: 100%
  }

  .boxLink a {
    width: 10%;
  }

  .boxProyectos {
    >h1 {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }
  }
}