:root {
    /*colores*/
    --color-text: #ffffff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-AzulClaro:#00e5ff;
    /*Fuentes*/
    --font-robot: "Roboto";
    --background-color: linear-gradient(90deg, rgb(60 56 84 / 65%) 3.07%, rgb(30 24 66) 88.06%); ;
}