:root {
    /*colores*/
    --color-textdetalles: #ec8f1e;
    --color-textprimario:#be8ef5;
    --color-text: #ffffff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-AzulClaro:#00e5ff;
    /*Fuentes*/
    --font-robot: "Roboto";
    --background-color: #351d5314;;
    /* --background-color: radial-gradient(61.89% 120.81% at 14.2% -17.19%,#2f2663 0,#27214b 100%); */
}